<div class="container">
    <h2>Todo App</h2>
    <p>List of Todo Task</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>Task</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Assigned By</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of taskList; let i = index;">
                <td>{{i + 1}}</td>
                <td>{{task.task}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.status}}</td>
                <td>{{task.assignedBy}}</td>
                <td>
                    <a href="#">
                        <i class="fa fa-trash" (click)="deleteTask($event, i)"></i>
                    </a>
                    <a [routerLink]="['/home/add-task/' + i]">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" [routerLink]="['/home/add-task']">Add New Task</button>
</div>